:root {
    --light-yellow: #F8F8D6;
    --black-green: #2E4347;
    --medium-green: #54736E;
    --dark-green: #5D7E62;
    --light-green: #D0DEB8;
    --orange: #FF9B52;
    --soft-orange: #FFB884;
}

/* -------------------------- nav bar  ------------------------------*/
.navigation-bar {
    background-color: black !important;
}

ul a {
    font-family: 'Source Code Pro', monospace;
}


/* ------------------------- first page -----------------------------*/

h1 {
    font-family: 'Press Start 2P', cursive;
    color: var(--dark-green);
    font-size: 3.5rem;
}

.solorzano {
    font-size: 2.3rem;

}

.introduction {
    background-color: var(--light-yellow);
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding: 0 0 65px;
}


/* ----------------------- About me---------------------------------*/

h2 {
    font-family: 'Press Start 2P', cursive;
}

p {
    font-family: 'DotGothic16', sans-serif;
}

.about-me {
    background: var(--light-green); /* agrego esta por si el navegador no es compatible con los gradientes */
    background: linear-gradient(180deg, var(--light-yellow) 50%, var(--medium-green) 50%);
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}


.about-me h2 {
    color: var(--orange);
    font-size: 1.8rem;
    -webkit-text-stroke: 1px black; /* para hacer los bordes de las letras negro */
    padding: 20px 0;
}

.about-me p {
    font-size: 1rem;
}

.about-me-text {
    background-color: var(--light-green);
    width: 85%;
    padding: 20px;
}


/* ----------------------- Projects ---------------------------------*/

.projects {

    background-color: var(--medium-green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    width: 100%;
    background-color: var(--medium-green);

}

.projects-two {
    margin-left: 40px;
}

.projects-three {
    margin-left: 80px;
}

.projects h2 {
    color: var(--light-yellow);
    margin-left: 15px;
    padding-top: 40px;
}

.projects a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:  center;
}

.orange {
    background-color: var(--soft-orange);
}

.projects img {
    height: auto;
    width: 95%;
    padding: 40px 10px;
    filter: grayscale(70%);
}

.projects-button {
    background-color: var(--soft-orange);
    width: 100%;
    text-align: center;
}

.projects button {
    border: none;
    background-color: var(--light-yellow);
    border-radius: 30px;
    font-family: 'Source Code Pro', monospace;
    margin: 20px;
    padding: 15px 25px;
}



/* ------------------------ Contact ----------------------------------*/

.contact {
    background-color: var(--soft-orange);
    background-image: url(/img/contact.png);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 100px;
}

.contact form {
    padding: 7vw;
    background-color: var(--black-green);

}

.contact input, 
textarea {
    width: 70vw;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 2vh;
    border: none;
}

.light-green {
    background-color: var(--light-green);
}

.submit-button {
    background-color: var(--light-yellow);
    border-radius: 30px;
    border: none;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
}

